body,
span,
p,
h1,
h2,
h3,
.review-p,
.background,
.bottom-div,
.combine,
.profile-pics,
.star-div-1,
.reviews-1,
.reviews-2,
.reviews-3,
.star-div-2,
.star-div-3,
.star-icon,
.profile-div,
.top-div {
  margin: 0;
  font-family: arial;
}

body {
  background: url(./bg-pattern-top-desktop.svg), url(./bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-color: white;
}

.background {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.top-div {
  position: relative;
  margin-bottom: 10px;
}

h1 {
  font-size: 15px;
  max-width: 105px;
  color: purple;
  margin-bottom: 10px;
  margin-left: 10px;
}

p {
  font-size: 8px;
  max-width: 200px;
  line-height: 12px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.star-div-1 {
  position: absolute;
  top: 10px;
  right: 40px;
  display: flex;
  background-color: rgb(236, 236, 236);
  padding: 5px 15px;
  align-items: center;
  border-radius: 4px;
}

.star-icon {
  height: 10px;
  padding-right: 5px;
}
.star-icon-1 {
  height: 10px;
  padding-right: 5px;
}

h2 {
  font-size: 6px;
  color: purple;
}
.star-div-2 {
  position: absolute;
  top: 35px;
  right: 20px;
  display: flex;
  background-color: rgb(236, 236, 236);
  padding: 5px 15px;
  align-items: center;
  border-radius: 4px;

}
.star-div-3 {
  position: absolute;
  top: 64px;
  right: 10px;
  display: flex;
  background-color: rgb(236, 236, 236);
  padding: 5px 15px;
  align-items: center;
  border-radius: 4px;
}



.reviews-1 {
  display: inline-block;
  background-color: rgb(62, 6, 62);
  margin: 8px;
  border-radius: 4px;
  
}
.reviews-2 {
  display: inline-block;
  background-color: rgb(62, 6, 62);
  margin-bottom: 10px;
  border-radius: 4px;
  
}
.reviews-3 {
  display: inline-block;
  background-color: rgb(62, 6, 62);
  margin: 8px;
  border-radius: 4px;
  
}

.profile-div {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.profile-pics {
  height: 20px;
  border-radius: 20px;
  margin-right: 5px;
  
}

h3 {
  font-size: 8px;
  color: rgb(178, 177, 177);
}

.review-p {
  width: 145px;
  padding: 0 15px 20px;
  color: rgb(178, 177, 177);
}

span {
  color: rgb(172, 9, 172);
}

@media (max-width: 481px) {
  body {
    background: url(./bg-pattern-top-mobile.svg), url(./bg-pattern-bottom-mobile.svg);
    background-position: right 20vw bottom 60vh, left 15vw top 32vh;
    background-repeat: no-repeat, no-repeat;
    background-color: white;
    
  }
  
  .background {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 10px;
    width: 95px;
    color: purple;
    margin: 15px 15px;
    font-weight: 800;
    text-align: center;
    line-height: 10px;
  }
  
  p {
    font-size: 5px;
    width: 110px;
    line-height: 9px;
    margin-bottom: 10px;
    text-align: center;
  }

  .top-div {
    position: static;
    margin-bottom: 10px;
    display: block;
    max-width: 130px;
    margin-right: 0;
  }
  h2 {
    font-size: 5px;
    color: purple;
    text-align: center;
    padding-bottom: 2px;
  }

  .star-div-1 {
    position: static;
    max-width: 110px;
    margin-left: 8px;
    display: block;
    background-color: rgb(236, 236, 236);
    padding: 3px 2px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
  
  .star-icon {
    height: 5px;
    padding: 0px;
    
  }
  .star-icon-1 {
    height: 5px;
    padding: 0px;
    margin-left: 35px;
  }
  .star-div-2 {
    position: static;
    margin-left: 8px;
    display: block;
    background-color: rgb(236, 236, 236);
    padding: 3px 2px;
    align-items: center;
    border-radius: 4px;
    margin-top: 5px;
    height: auto;
    max-width: 110px;
  }
  .star-div-3 {
    position: static;
    margin-left: 8px;
    display: block;
    margin-top: 5px;
    background-color: rgb(236, 236, 236);
    padding: 3px 2px;
    align-items: center;
    border-radius: 4px;
    height: auto;
    max-width: 110px;
  }

  .combine {
    max-width: 130px;
   justify-content: center;
   align-items: center;
   display: block;
  }

  .reviews-1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(62, 6, 62);
    margin: 0 8px;
    border-radius: 4px;
    max-width: 114px;
  }
  .reviews-2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(62, 6, 62);
    margin: 8px;
    border-radius: 4px;
    max-width: 114px;
  }
  .reviews-3 {
    display: flex;
    flex-direction: column;
    background-color: rgb(62, 6, 62);
    margin: 0 8px;
    border-radius: 4px;
    max-width: 114px;
  }

  .review-p {
    max-width: 90px;
    padding: 0px 0px 10px 10px;
    color: rgb(178, 177, 177);
    text-align: justify;
    font-size: 6px;
    line-height: 9px;
  }
}